:root {
  --light-clr-1: #ffefe7;
  --light-clr-2: #c2aeae;

  --dark-clr-1: #190019;
  --dark-clr-2: #03094b;
  --dark-clr-3: #2d124c;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--dark-clr-1);
  /* background-color: var(--light-clr-1); */
  background-image: linear-gradient(145deg, var(--dark-clr-1), var(--light-clr-1), var(--light-clr-2), var(--dark-clr-2));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}